.dashboard-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
  color: white;
  margin-bottom: 30px;
}

.resource-card {
  background: #1e1e2f;
  border: 1px solid #00f9ff;
  color: white;
  transition: 0.3s ease;
}

.resource-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #00f9ff;
}
